{% extends "base.twig" %}
{% block title %}客户端介绍{% endblock %}

{% block content %}
{% include 'component/navbar.twig' %}
<style>
    .indented {
        margin-left: 20px;
    }
</style>

<div class="container mt-5 mb-4">
    <h2>客户端介绍</h2>
    <div class="accordion" id="accordionClients">

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClash4Windows" aria-expanded="false"
                    aria-controls="collapseClash4Windows">
                    Clash for Windows
                    (<ion-icon name="logo-windows"></ion-icon>/<ion-icon name="logo-tux"></ion-icon>/<ion-icon name="logo-apple"></ion-icon>)
                </button>
            </h2>
            <div id="collapseClash4Windows" class="accordion-collapse collapse" data-bs-parent="#accordionClients">
                <div class="accordion-body">
                    <div class="alert alert-primary">
                        适用平台：<ion-icon name="logo-windows"></ion-icon>/<ion-icon name="logo-tux"></ion-icon>/<ion-icon name="logo-apple"></ion-icon>
                    </div>
                    <div class="d-flex flex-column flex-sm-row justify-content-evenly mb-4">
                        <a class="btn btn-outline-primary" href="https://github.com/Fndroid/clash_for_windows_pkg/releases/latest" target="_blank">
                            <ion-icon name="download"></ion-icon>
                            下载最新版程序本体
                        </a>
                        <a class="btn btn-outline-primary" href="https://github.com/BoyceLig/Clash_Chinese_Patch/releases/latest" target="_blank">
                            <ion-icon name="download"></ion-icon>
                            下载最新版汉化补丁
                        </a>
                        <a class="btn btn-outline-primary" href="https://docs.cfw.lbyczf.com/" target="_blank">
                            <ion-icon name="document-text"></ion-icon>
                            官方文档
                        </a>
                    </div>
                    <h5>汉化方法</h5>
                    <p class="indented">
                        1. 下载并安装好本体，然后下载汉化补丁。<br>
                        2. 打开汉化补丁压缩包，压缩包内含名为 <code>app.asar</code> 的文件。将其解压出来。<br>
                        3. 右键 Clash for Windows 的快捷方式并打开文件所在的位置。进入 <code>resources</code> 文件夹。<br>
                        4. 将 <code>resources</code> 文件夹中的 <code>app.asar</code> 替换为汉化补丁中的 <code>app.asar</code>。
                    </p>
                    <hr>
                    <h5>使用方法</h5>
                    <p class="indented">
                        1. 打开本网站，选择合适的订阅并点击
                        <button type="button" class="btn btn-outline-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
                            data-bs-content="你在这里点是没有用的捏~">导入到 Clash</button>
                        按钮。此时 Clash for Windows 会自动下载订阅信息至配置中。<br>
                        2. 打开 Clash for Windows 并进入配置选项卡。选择刚刚导入进去的订阅。<br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/Clash4Windows-Profiles.png" /><br>
                        3. 进入常规选项卡，开启系统代理即可使用。<br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/Clash4Windows-General.png" />
                    </p>
                    <hr>
                    <h5>Tun 模式使用方法</h5>
                    <p class="indented">
                        Tun 模式通过创建虚拟网卡来实现网络代理。理论上比系统代理更好。你可通过阅读<a href="https://docs.cfw.lbyczf.com/contents/tun.html" target="_blank">这篇文章</a>来了解如何使用 Tun 模式。
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClashVerge" aria-expanded="false"
                    aria-controls="collapseClashVerge">
                    Clash Verge
                    (<ion-icon name="logo-windows"></ion-icon>/<ion-icon name="logo-tux"></ion-icon>/<ion-icon name="logo-apple"></ion-icon>)
                </button>
            </h2>
            <div id="collapseClashVerge" class="accordion-collapse collapse" data-bs-parent="#accordionClients">
                <div class="accordion-body">
                    <div class="alert alert-primary">
                        适用平台：<ion-icon name="logo-windows"></ion-icon>/<ion-icon name="logo-tux"></ion-icon>/<ion-icon name="logo-apple"></ion-icon>
                    </div>
                    <div class="d-flex flex-column flex-sm-row justify-content-evenly mb-4">
                        <a class="btn btn-outline-primary" href="https://github.com/zzzgydi/clash-verge/releases/latest" target="_blank">
                            <ion-icon name="download"></ion-icon>
                            下载最新版
                        </a>
                    </div>
                    <h5>设置中文</h5>
                    <p class="indented">
                        打开 Settings 选项卡。向下翻到 Verge Setting 页面。将 Language 设置为中文即可。
                    </p>
                    <hr>
                    <h5>使用方法</h5>
                    <p class="indented">
                        1. 打开本网站，选择合适的订阅并点击
                        <button type="button" class="btn btn-outline-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
                            data-bs-content="你在这里点是没有用的捏~">导入到 Clash</button>
                        按钮。此时 Clash Verge 会自动下载订阅信息至配置中。<br>
                        2. 打开 Clash for Windows 并进入配置选项卡。选择刚刚导入进去的订阅。<br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/ClashVerge-Profiles.png" /><br>
                        3. 进入设置选项卡中的系统设置栏，开启系统代理即可使用。<br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/ClashVerge-SystemSettings.png" />
                    </p>
                    <hr>
                    <h5>Tun 模式使用方法</h5>
                    <p class="indented">
                        Tun 模式通过创建虚拟网卡来实现网络代理。理论上比系统代理更好。<br>
                        1. 进入设置选项卡，找到服务模式。第一次使用时服务模式是处于未安装状态。单击小盾牌进行安装 (Install)。<br>
                        2. 打开服务模式和 Tun 模式即可使用。
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClash4Android" aria-expanded="false"
                    aria-controls="collapseClash4Android">
                    Clash for Android
                    (<ion-icon name="logo-android"></ion-icon>)
                </button>
            </h2>
            <div id="collapseClash4Android" class="accordion-collapse collapse" data-bs-parent="#accordionClients">
                <div class="accordion-body">
                    <div class="alert alert-primary">
                        适用平台：<ion-icon name="logo-android"></ion-icon>
                    </div>
                    <div class="d-flex flex-column flex-sm-row justify-content-evenly mb-4">
                        <a class="btn btn-outline-primary" href="https://github.com/Kr328/ClashForAndroid/releases/latest" target="_blank">
                            <ion-icon name="download"></ion-icon>
                            下载最新版
                        </a>
                        <a class="btn btn-outline-primary" href="https://play.google.com/store/apps/details?id=com.github.kr328.clash" target="_blank">
                            <ion-icon name="logo-google-playstore"></ion-icon>
                            谷歌商店下载
                        </a>
                    </div>
                    <h5>使用方法</h5>
                    <p class="indented">
                        1. 打开本网站，选择合适的订阅并点击
                        <button type="button" class="btn btn-outline-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
                            data-bs-content="你在这里点是没有用的捏~">导入到 Clash</button>
                        按钮。此时 Clash for Android 会自动弹出配置页面。单击右上角的保存按钮即可保存订阅。<br>
                        <i class="indented">建议设置自动更新为 1440 分钟！</i><br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/Clash4Android-Import.jpg" /><br>
                        2. 前去配置，选择刚刚导入进去的订阅。<br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/Clash4Android-Profiles.jpg" /><br>
                        3. 单击启动按钮即可开始使用。
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClashMeta4Android" aria-expanded="false"
                    aria-controls="collapseClashMeta4Android">
                    Clash.Meta for Android
                    (<ion-icon name="logo-android"></ion-icon>)
                </button>
            </h2>
            <div id="collapseClashMeta4Android" class="accordion-collapse collapse" data-bs-parent="#accordionClients">
                <div class="accordion-body">
                    <div class="alert alert-primary">
                        适用平台：<ion-icon name="logo-android"></ion-icon>
                    </div>
                    <div class="d-flex flex-column flex-sm-row justify-content-evenly mb-4">
                        <a class="btn btn-outline-primary" href="https://github.com/MetaCubeX/ClashMetaForAndroid/releases/latest" target="_blank">
                            <ion-icon name="download"></ion-icon>
                            下载最新版
                        </a>
                        <a class="btn btn-outline-primary" href="https://f-droid.org/packages/com.github.metacubex.clash.meta/" target="_blank">
                            <ion-icon name="logo-android"></ion-icon>
                            F-Droid 商店下载
                        </a>
                    </div>
                    <h5>使用方法</h5>
                    <p class="indented">
                        1. 打开本网站，选择合适的订阅并点击
                        <button type="button" class="btn btn-outline-primary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom"
                            data-bs-content="你在这里点是没有用的捏~">导入到 Clash</button>
                        按钮。此时 Clash.Meta for Android 会自动弹出配置页面。单击右上角的保存按钮即可保存订阅。<br>
                        <i class="indented">建议设置自动更新为 1440 分钟！</i><br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/Clash4Android-Import.jpg" /><br>
                        2. 前去配置，选择刚刚导入进去的订阅。<br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/Clash4Android-Profiles.jpg" /><br>
                        3. 单击启动按钮即可开始使用。
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOpenClash" aria-expanded="false"
                    aria-controls="collapseOpenClash">
                    OpenClash
                    (<ion-icon name="wifi"></ion-icon>)
                </button>
            </h2>
            <div id="collapseOpenClash" class="accordion-collapse collapse" data-bs-parent="#accordionClients">
                <div class="accordion-body">
                    <div class="alert alert-primary">
                        适用平台：<ion-icon name="wifi"></ion-icon>
                    </div>
                    <div class="d-flex flex-column flex-sm-row justify-content-evenly mb-4">
                        <a class="btn btn-outline-primary" href="https://github.com/vernesong/OpenClash/releases/latest" target="_blank">
                            <ion-icon name="download"></ion-icon>
                            下载最新版
                        </a>
                        <a class="btn btn-outline-primary" href="https://github.com/vernesong/OpenClash/wiki" target="_blank">
                            <ion-icon name="document-text"></ion-icon>
                            官方文档
                        </a>
                    </div>
                    <b class="indented">OpenWrt 路由器版本的 Clash 客户端。详细信息可前去官方文档中了解。</b>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMerlinClash" aria-expanded="false"
                    aria-controls="collapseMerlinClash">
                    MerlinClash
                    (<ion-icon name="wifi"></ion-icon>)
                </button>
            </h2>
            <div id="collapseMerlinClash" class="accordion-collapse collapse" data-bs-parent="#accordionClients">
                <div class="accordion-body">
                    <div class="alert alert-primary">
                        适用平台：<ion-icon name="wifi"></ion-icon>
                    </div>
                    <div class="d-flex flex-column flex-sm-row justify-content-evenly mb-4">
                        <a class="btn btn-outline-primary" href="https://t.me/merlinclashcat" target="_blank">
                            <ion-icon name="download"></ion-icon>
                            下载最新版
                        </a>
                        <a class="btn btn-outline-primary" href="https://mcreadme.gitbook.io/mc/" target="_blank">
                            <ion-icon name="document-text"></ion-icon>
                            官方文档
                        </a>
                    </div>
                    <b class="indented">华硕梅林路由器版本的 Clash 客户端。详细信息可前去官方文档中了解。</b>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOthers" aria-expanded="false"
                    aria-controls="collapseOthers">
                    其他
                </button>
            </h2>
            <div id="collapseOthers" class="accordion-collapse collapse" data-bs-parent="#accordionClients">
                <div class="accordion-body">
                    <div class="d-flex flex-column flex-sm-row justify-content-sm-between mb-4">
                        <h5>GitHub 代理加速下载工具</h5>
                        <a class="btn btn-outline-primary" href="http://ghproxy.com/" target="_blank">访问</a>
                    </div>
                    <p class="indented">
                        用于加速下载 GitHub 上的文件。只需将文件下载地址粘贴到输入框中并单击<code>下载</code>即可<br>
                        <img class="img-fluid" src="{{ baseUrl }}/resources/images/GhProxy.png" />
                    </p>
                    <hr>
                    <div class="d-flex flex-column flex-sm-row justify-content-sm-between mb-4">
                        <h5>Clash 内核</h5>
                        <a class="btn btn-outline-primary" href="https://github.com/Dreamacro/clash/releases/latest" target="_blank">下载最新版</a>
                    </div>
                    <b class="indented">俗称控制台版本的 Clash。详细信息可前去<a href="https://dreamacro.github.io/clash/zh_CN/" target="_blank">官方文档</a>中查阅</b>
                    <hr>
                    <div class="d-flex flex-column flex-sm-row justify-content-sm-between mb-4">
                        <h5>Clash.Meta 内核</h5>
                        <a class="btn btn-outline-primary" href="https://github.com/MetaCubeX/Clash.Meta/releases/latest" target="_blank">下载最新版</a>
                    </div>
                    <b class="indented">俗称控制台版本的 Clash.Meta。详细信息可前去<a href="https://wiki.metacubex.one/" target="_blank">官方文档</a>中查阅。其中你可以了解原版与 Meta 版之间到底有什么区别。</b>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block customBootstrapScript %}
<script>
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
{% endblock %}