{# <div class="alert alert-primary" role="alert">该链接将自动重定向至现有订阅。你可以不用经常更换订阅链接。若链接失效则尽快联系管理员。</div> #}
{% for sub in group.subscribes %}
    {% set subUrl = subApiUrl ~ '?sub=' ~ sub.sid ~ '&user=' ~ uid %}
    {% if sub.converter == 1 and customConfig is not empty %}
        {% set subUrl = subUrl ~ '&config=' ~ customConfig | url_encode %}
    {% endif %}

    {% if not loop.first %}
        <hr class="mt-4 mb-4">
    {% endif %}
    <h5>{{ sub.name }}</h5>
    <div class="mb-3 row align-items-center">
        <label class="col-form-label card-text">订阅链接</label>
        <div class="col-md">
            <input class="form-control" type="text" id="subscribe-URL-{{ loop.index }}" value="{{ subUrl }}" readonly>
        </div>


        <div class="btn-group col-md-3">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                导入到
            </button>
            <ul class="dropdown-menu">
                {% if sub.converter == 1 %}
                    <li>
                        <a class="dropdown-item" href="clash://install-config?url={{ subUrl | url_encode ~ '&target=clash' | url_encode }}&name={{ sub.suggestion_name | url_encode }}">Clash</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="surfboard:///install-config?url={{ subUrl | url_encode ~ '&target=surfboard' | url_encode }}">Surfboard</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="surge:///install-config?url={{ subUrl | url_encode ~ '&target=surge' | url_encode }}">Surge</a>
                    </li>
                {% endif %}
                <li>
                    <button class="dropdown-item" onclick="copyTextToClipboard(this)" data-copyid="subscribe-URL-{{ loop.index }}">剪切板</a>
                </li>
                {% if sub.converter == 1 %}
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <button class="dropdown-item" onclick="copyTextToClipboard(this)" data-copyid="subscribe-URL-{{ loop.index }}" data-orgsub="true">复制原订阅</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        {% if sub.converter == 1 %}
            <div class="form-text">
                该链接使用<a href="https://github.com/tindy2013/subconverter/" target="_blank">订阅转换器</a>生成丰富的规则。可为此链接使用
                <code>config</code>
                参数来自定义远程配置，<code>target</code>
                参数来自定义<a href="https://github.com/tindy2013/subconverter/blob/master/README-cn.md#%E6%94%AF%E6%8C%81%E7%B1%BB%E5%9E%8B" target="_blank">目标类型</a>，<code>original=true</code>
                可获取原订阅内容。若觉得操作麻烦也可前去<a href="{{ baseUrl }}/userconfig">用户配置</a>来快速自定义远程配置。
            </div>
        {% endif %}
    </div>
    <div class="row align-items-center">
        <label class="col-form-label card-text">建议名称</label>
        <div class="col-md">
            <input class="form-control" type="text" id="subscribe-SName-{{ loop.index }}" value="{{ sub.suggestion_name }}" readonly>
        </div>
        <div class="btn-group col-md-3">
            <button type="button" class="btn btn-outline-primary" onclick="copyTextToClipboard(this)" data-copyid="subscribe-SName-{{ loop.index }}">复制</a>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning mb-0" role="alert">暂无可用的订阅链接。</div>
{% endfor %}
