{% block collapseShare %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseShare-{{ loop.index }}"
            aria-expanded="false" aria-controls="collapseShare-{{ loop.index }}">
            共享账号
        </button>
    </h2>
    <div id="collapseShare-{{ loop.index }}" class="accordion-collapse collapse">
        <div class="accordion-body">
            {% for share in item.share %}
            {% if not loop.first %}
            <hr>{% endif %}
            <div class="mb-3">
                <div class="row align-items-center mb-3">
                    <label class="form-label card-text">{{ share.name }}账号</label>
                    <div class="col-sm-10"><input class="form-control" type="text" value="{{ share.account }}" readonly></div>
                    <div class="btn-group col-sm-2" role="group">
                        <a class="btn btn-outline-primary" href="{{ share.manage }}" target="_blank">管理账号</a>
                    </div>
                </div>
                <div>
                    <label class="form-label card-text">密码</label>
                    <input class="form-control" type="text" value="{{ share.password }}" readonly>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}