{% block collapseSubscriptions %}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubscriptions-{{ loop.index }}" aria-expanded="true"
            aria-controls="collapseSubscriptions-{{ loop.index }}">
            订阅链接
        </button>
    </h2>
    <div id="collapseSubscriptions-{{ loop.index }}" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <div class="alert alert-primary" role="alert">该链接将自动重定向至现有订阅。你可以不用经常更换订阅链接。若链接失效则尽快联系管理员。</div>
            {% for sub in item.subscribes %}
            {% set subUrl = subApiUrl ~ '?sub=' ~ sub.sid ~ '&user=' ~ uid %}
            {% if sub.converter == 1 %}
            {% set subUrl = subUrl ~ '&config=' ~ customConfig | url_encode %}
            {% endif %}
            {% set suggestionName = item.name ~ sub.name %}

            {% if not loop.first %}
            <hr class="mt-4 mb-4">
            {% endif %}
            <h5>{{ sub.name }}</h5>
            <div class="mb-3 row align-items-center">
                <label class="form-label card-text">订阅链接</label>
                <div class="col-lg">
                    <input class="form-control" type="text" value="{{ subUrl }}" readonly>
                </div>

                {% if sub.target == "clash" %}
                <div class="btn-group col-lg-3 col-xxl-2" role="group">
                    <a class="btn btn-outline-primary" href="clash://install-config?url={{ subUrl | url_encode }}&name={{ suggestionName | url_encode }}"
                        target="_blank">导入到 Clash</a>
                </div>
                {% endif %}
                {% if sub.target == "surfboard" %}
                <div class="btn-group col-lg-4 col-xxl-3" role="group">
                    <a class="btn btn-outline-primary" href="surfboard:///install-config?url={{ subUrl | url_encode }}" target="_blank">导入到 Surfboard</a>
                </div>
                {% endif %}
                {% if sub.target matches '/surge/' %}
                <div class="btn-group col-lg-3 col-xxl-2" role="group">
                    <a class="btn btn-outline-primary" href="surge:///install-config?url={{ subUrl | url_encode }}" target="_blank">导入到 Surge</a>
                </div>
                {% endif %}

                {% if sub.converter == 1 %}
                <div class="form-text">该链接使用订阅转换器生成丰富的规则。你可为此链接使用 <code>config</code> 参数来自定义远程配置。前去用户配置即可手动自定义。</div>
                {% endif %}
            </div>
            <div>
                <label class="form-label card-text">建议名称</label>
                <input class="form-control" type="text" value="{{ suggestionName }}" readonly>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}