{% extends "administrator.twig" %}
{% block title %}
    {{ group.name }}
    - 订阅管理 - 后台管理
{% endblock %}
{% block adminContent %}
    <h2>{{ group.name }}</h2>

    <div class="card mb-3">
        <div class="card-body">
            <form method="post">
                <h4>分组设置</h4>
                <input type="hidden" name="gid" value="{{ group.gid }}"/>
                <div class="input-group">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="group-newGid" name="newGid" placeholder="分组 UUID" value="{{ group.gid }}"/>
                        <label for="group-newGid">分组 UUID</label>
                    </div>
                    <button type="button" class="btn btn-outline-secondary" onclick="onClickGenUUID(this)" data-output="group-newGid">∞</button>
                </div>
                <div class="form-text mb-3">留空则随机生成。</div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="group-name" name="name" placeholder="分组名称" value="{{ group.name }}"/>
                    <label for="group-name">分组名称</label>
                </div>

                <h4>分组所购机场信息</h4>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="group-sub_hp" name="sub_hp" placeholder="机场官网网址" value="{{ group.sub_hp }}"/>
                    <label for="group-sub_hp">机场官网网址</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="group-sub_account" name="sub_account" placeholder="机场登录账号" value="{{ group.sub_account }}"/>
                    <label for="group-sub_account">机场登录账号</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="group-sub_password" name="sub_password" placeholder="机场登录密码" value="{{ group.sub_password }}"/>
                    <label for="group-sub_password">机场登录密码</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="group-sub_aff" name="sub_aff" placeholder="机场邀请码" value="{{ group.sub_aff }}"/>
                    <label for="group-sub_aff">机场邀请码</label>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary" type="submit" name="type" value="updateGroupConfig">保存</button>
                    <button class="btn btn-danger" type="submit" name="type" value="deleteGroup">删除此分组</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h4>
                分组订阅
                <button class="btn btn-outline-secondary" type="button" onclick="onClickCreateNewTbody(this)" data-tableid="groupSubTable">+</button>
            </h4>
            <form method="post">
                <div class="table-responsive text-nowrap mb-3">
                    <table class="table table-hover" id="groupSubTable">
                        <thead>
                            <tr>
                                <th scope="col">订阅 UUID</th>
                                <th scope="col">排序</th>
                                <th scope="col">订阅名称</th>
                                <th scope="col">订阅网址</th>
                                <th scope="col">启用订阅转换</th>
                                <th scope="col">
                                    <a class="text-decoration-none" href="https://github.com/tindy2013/subconverter/blob/master/README-cn.md#%E6%94%AF%E6%8C%81%E7%B1%BB%E5%9E%8B" target="_blank">转换目标</a>
                                </th>
                                <th scope="col">
                                    <a class="text-decoration-none" href="https://github.com/tindy2013/subconverter/blob/master/README-cn.md#%E8%BF%9B%E9%98%B6%E9%93%BE%E6%8E%A5" target="_blank">转换选项</a>
                                </th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <input type="hidden" name="gid" value="{{ group.gid }}"/>
                        <tbody class="align-middle">
                            {% for subscribe in subscribes|default([0]) %}
                                <tr>
                                    <td>
                                        {% if subscribes is not empty %}
                                            <input type="hidden" name="data[{{ loop.index }}][sid]" value="{{ subscribe.sid }}"/>
                                        {% else %}
                                            <input type="hidden" name="data[{{ loop.index }}][newEmpty]"/>
                                        {% endif %}
                                        <div class="input-group form-witdh-uuid">
                                            <input class="form-control" type="text" id="groupsub-newSid-{{ loop.index }}" name="data[{{ loop.index }}][newSid]" placeholder="订阅 UUID（留空则自动生成）" value="{{ subscribe.sid }}"/>
                                            <button type="button" class="btn btn-outline-secondary" onclick="onClickGenUUID(this)" data-output="groupsub-newSid-{{ loop.index }}">∞</button>
                                        </div>
                                    </td>
                                    <td>
                                        <input class="form-control form-witdh-tinyint" type="number" id="groupsub-orderlist-{{ loop.index }}" name="data[{{ loop.index }}][orderlist]" placeholder="排序" value="{{ subscribe.orderlist }}"/>
                                    </td>
                                    <td>
                                        <input class="form-control form-witdh-short-string" type="text" id="groupsub-name-{{ loop.index }}" name="data[{{ loop.index }}][name]" placeholder="订阅名称" value="{{ subscribe.name }}" required/>
                                    </td>
                                    <td>
                                        <input class="form-control form-witdh-long-string" type="text" id="groupsub-url-{{ loop.index }}" name="data[{{ loop.index }}][url]" placeholder="订阅网址" value="{{ subscribe.url }}" required/>
                                    </td>
                                    <td>
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch" id="groupsub-converter-{{ loop.index }}" name="data[{{ loop.index }}][converter]" {% if subscribe.converter == 1 %} checked {% endif %}>
                                            <label class="form-check-label" for="groupsub-converter-{{ loop.index }}">订阅转换</label>
                                        </div>
                                    </td>
                                    <td>
                                        <input class="form-control form-witdh-short-string" type="text" id="groupsub-target-{{ loop.index }}" name="data[{{ loop.index }}][target]" placeholder="转换目标" value="{{ subscribe.target }}"/>
                                    </td>
                                    <td>
                                        <input class="form-control form-witdh-medium-string" type="text" id="groupsub-options-{{ loop.index }}" name="data[{{ loop.index }}][options]" placeholder="转换选项" value="{{ subscribe.options }}"/>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="btn-check" id="groupsub-delete-{{ loop.index }}" autocomplete="off" name="data[{{ loop.index }}][delete]" {% if subscribes is empty %} disabled {% endif %}/>
                                        <label class="btn btn-danger" for="groupsub-delete-{{ loop.index }}">标记删除</label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary" type="submit" name="type" value="saveSubscribes">保存</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h4>
                分组共享账号
                <button class="btn btn-outline-secondary" type="button" onclick="onClickCreateNewTbody(this)" data-tableid="groupShareTable">+</button>
            </h4>
            <form method="post">
                <div class="table-responsive text-nowrap mb-3">
                    <table class="table table-hover" id="groupShareTable">
                        <thead>
                            <tr>
                                <th scope="col">账号名称</th>
                                <th scope="col">账号</th>
                                <th scope="col">密码</th>
                                <th scope="col">管理账号网址</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <input type="hidden" name="gid" value="{{ group.gid }}"/>
                        <tbody>
                            {% for share in groupShare|default([0]) %}
                                <tr>
                                    {% if groupShare is not empty %}
                                        <input type="hidden" name="data[{{ loop.index }}][gsid]" value="{{ share.gsid }}"/>
                                    {% endif %}
                                    <td>
                                        <input class="form-control form-witdh-short-string" type="text" id="groupshare-name-{{ loop.index }}" name="data[{{ loop.index }}][name]" placeholder="账号名称" value="{{ share.name }}" required/>
                                    </td>
                                    <td>
                                        <input class="form-control form-witdh-medium-string" type="text" id="groupshare-account-{{ loop.index }}" name="data[{{ loop.index }}][account]" placeholder="账号" value="{{ share.account }}" required/>
                                    </td>
                                    <td>
                                        <input class="form-control form-witdh-medium-string" type="text" id="groupshare-password-{{ loop.index }}" name="data[{{ loop.index }}][password]" placeholder="密码" value="{{ share.password }}" required/>
                                    </td>
                                    <td>
                                        <input class="form-control form-witdh-medium-string" type="text" id="groupshare-manage-{{ loop.index }}" name="data[{{ loop.index }}][manage]" placeholder="管理账号网址" value="{{ share.manage }}" required/>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="btn-check" id="groupshare-delete-{{ loop.index }}" autocomplete="off" name="data[{{ loop.index }}][delete]" {% if groupShare is empty %} disabled {% endif %}/>
                                        <label class="btn btn-danger" for="groupshare-delete-{{ loop.index }}">标记删除</label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary" type="submit" name="type" value="saveShare">保存</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h4>
                分组用户
                <button class="btn btn-outline-secondary" type="button" onclick="onClickCreateNewTbody(this)" data-tableid="userSubTable">+</button>
            </h4>
            <form method="post">
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover" id="userSubTable">
                        <thead>
                            <tr>
                                <th scope="col">用户名</th>
                                <th scope="col">过期时间</th>
                                <th scope="col">操作</th>
                            </tr>
                        </thead>
                        <input type="hidden" name="gid" value="{{ group.gid }}"/>
                        <tbody>
                            {% for userSub in userSubs|default([0]) %}
                                <tr>
                                    <td>
                                        {% if userSubs is not empty %}
                                            <input type="hidden" name="data[{{ loop.index }}][uid]" value="{{ userSub.uid }}"/>
                                        {% else %}
                                            <input type="hidden" name="data[{{ loop.index }}][newEmpty]"/>
                                        {% endif %}
                                        <select class="form-select form-witdh-medium-string" id="usersub-newUid-{{ loop.index }}" name="data[{{ loop.index }}][newUid]" data-dynamic-select onchange="handleSelectChange()" required>
                                            <option hidden disabled {% if userSubs is empty %} selected {% endif %}>添加新用户</option>
                                            {% for key, value in userNames %}
                                                <option value="{{ key }}" {% if userSub.uid == key %} selected {% endif %}>{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" type="datetime-local" id="usersub-expire-{{ loop.index }}" name="data[{{ loop.index }}][expire]" value="{{ userSub.expire | date('Y-m-d\\TH:i') }}"/>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="btn-check" id="usersub-delete-{{ loop.index }}" autocomplete="off" name="data[{{ loop.index }}][delete]" {% if userSubs is empty %} disabled {% endif %}/>
                                        <label class="btn btn-danger" for="usersub-delete-{{ loop.index }}">标记删除</label>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="float-end">
                    <button class="btn btn-primary" type="submit" name="type" value="saveUserSubs">保存</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
